<form class="card card-sm">
  <div class="card-body row align-items-center">
    <div class="col-auto">
      <i class="fas fa-search h4 text-body"></i>
    </div>

    <div class="col">
      <input
        class="form-control form-control-lg form-control-borderless"
        placeholder="Search topics or keywords"
        name="query"
        id="query"
        [(ngModel)]="query"
        required />
    </div>

    <div class="col-auto">
      <button
        class="btn btn-lg btn-success"
        type="button"
        [disabled]="query === ''"
        (click)="onSubmit()">
        Search
      </button>
    </div>
  </div>
</form>
